{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="card p-4 text-white" style="border-radius: 10px; background-color: rgba(76, 20, 131, 0.43);">
        <h2 class="mb-4">Detalhes do aluno</h2>
        <hr style="border-color: rgb(104, 37, 163);;"> 
        
        <div class="mb-3">
            <p class="mb-1 text-muted">Nome completo</p>
            <h4>{{ aluno.nome }}</h4>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3"><p class="mb-1 text-muted">CPF</p><h4>{{ aluno.cpf }}</h4></div>
            <div class="col-md-6 mb-3"><p class="mb-1 text-muted">RG</p><h4>{{ aluno.rg }}</h4></div>
            <div class="col-md-6 mb-3"><p class="mb-1 text-muted">Data de nascimento</p><h4>{{ aluno.data_nascimento|date:"d/m/Y" }}</h4></div>
            <div class="col-md-6 mb-3"><p class="mb-1 text-muted">Sexo</p><h4>{{ aluno.sexo }}</h4></div>
            <div class="col-md-6 mb-3"><p class="mb-1 text-muted">Telefone</p><h4>{{ aluno.telefone }}</h4></div>
            <div class="col-md-6 mb-3"><p class="mb-1 text-muted">E-mail</p><h4>{{ aluno.email }}</h4></div>
            <div class="col-md-8 mb-3"><p class="mb-1 text-muted">Logradouro</p><h4>{{ aluno.logradouro }}</h4></div>
            <div class="col-md-4 mb-3"><p class="mb-1 text-muted">Número</p><h4>{{ aluno.numero }}</h4></div>
            <div class="col-md-6 mb-3"><p class="mb-1 text-muted">Bairro</p><h4>{{ aluno.bairro }}</h4></div>
            <div class="col-md-6 mb-3"><p class="mb-1 text-muted">Cidade / Estado</p><h4>{{ aluno.cidade }} - {{ aluno.estado }}</h4></div>
            <div class="col-md-6 mb-3"><p class="mb-1 text-muted">CEP</p><h4>{{ aluno.cep }}</h4></div>
            <div class="col-md-6 mb-3"><p class="mb-1 text-muted">Status institucional</p><h4>{{ aluno.get_status_instituicao_display }}</h4></div>
            <div class="col-md-6 mb-3"><p class="mb-1 text-muted">Matrícula</p><h4>{{ aluno.matricula }}</h4></div>
        </div>

        <div class="mt-3">
            <a class="btn btn-outline-light" href="/aluno/">Voltar para listage</a>
        </div>
    </div>
</div>
{% endblock %}