{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="bg-dark text-white p-4 rounded shadow text-center">
                <h1 class="h3 mb-3">Senha alterada</h1>
                <p class="text-light">Sua senha foi redefinida com sucesso.</p>
                <a href="{% url 'login' %}" class="btn btn-primary">Entrar no sistema</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
